@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content:end;
    align-items:center;
    min-height: 100vh;
    background:  url('../images/gaspar-zaldo-lxWFAB-eyi4-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.container{
    background-color: #fff;
    box-shadow:  0 2px 5px rgba(250, 248, 248, 0.3);
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    height:auto;   
}

.header, h2{
    background-color:  #6c6b6d;
    padding: 5px;
    text-align: start;
    color: #fff;
}

.form{
    padding: 20px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 15px;
}